body {
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-size: 2.4em;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 2em;
  font-weight: 200;
}
#map {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

#container {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 0;
}

#info {
  padding: 100px;
}

#price {
  font-size: 1em;
}

#visualisation {
  width: 500px;
}

img.item {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: left;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}