
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-size: 2.4em;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 2em;
  font-weight: 200;
}

footer {
  padding: 0 100px;
  font-weight: 200;
  margin-bottom: 10px;
}

a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
}

a:before {
  content: "» "
}

#map {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

#container {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#info {
  padding: 40px 100px;
  flex: 1;
}

#price {
  font-size: 1em;
}

img.item {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: left;
}

#popup {
  background-color: #000000bb;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  visibility: hidden;
  height: 100%;
}

#popupContainer {
  background-color: #fff;
  margin: 35% 100px;
  padding: 20px 10px;
}

#popupContainer ul {
  list-style: none;
}

#popup:target {
  visibility: visible;
}

@media (max-width: 1024px) {
  html, body {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.4em;
  }

  #map, #container {
    width: 100%;
    position: initial;
  }

  #map {
    position: relative;
    overflow: hidden;
    flex: 0 1 350px;
  }

  #info {
    padding: 20px;
  }

  #container {
    min-height: 250px;
    flex: 1 0 0;
  }

  #popup {
    position: fixed;
  }

  #popupContainer {
    margin: 35% 20px;
  }

  footer {
    padding: 0 20px;
  }
}